<div class="game">

  <span *ngIf="game.player?.choice !== ''" class="mt-3" for="">
    {{stringService.capitalize(game.player? game.player.name : '')}}
  </span>

  <app-board [aiIndex]="aiIndex"
            [game]="game"
            (updateBoard)="setBoard($event)">
  </app-board>

  <app-start [message]="winnerMessage"
            [isNew]="isNew"
            [game]="game"
            (newGame)="startGame($event)"></app-start>

  <app-ai-player [game]="game"
                (aiMove)="setAIMove($event)"></app-ai-player>

</div>
