
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
  border-bottom: none;
}

.cell:x,
.cell.circle {
  cursor: not-allowed;
}

.cell::before,
.cell::after,
.cell.circle::before {
  background-color: black;
}

