<div class="main">

  <div class="game">

    <span *ngIf="game.player?.choice !== ''">
      {{stringService.capitalize(game.player? game.player.name : '')}}
    </span>

    <app-board [aiIndex]="aiIndex"
              [game]="game"
              (updateBoard)="setBoard($event)">
    </app-board>

    <app-start [message]="winnerMessage"
              [isNew]="isNew"
              [game]="game"
              (newGame)="startGame($event)"></app-start>

    <app-ai-player [game]="game"
                  (aiMove)="setAIMove($event)"></app-ai-player>

  </div>


  <div class="post"
       [style.visibility]="game.player && winnerMessage === ''? 'visible' : 'hidden'">
    <app-post-create></app-post-create>
  </div>

</div>

