/* You can add global styles to this file, and also import other style files */

*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 120px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  margin: 0px;
}

.board {
  width: 600px;
  height: 600px;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
