/* You can add global styles to this file, and also import other style files */

*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 120px;
  --mark-size: calc(var(--cell-size) * 0.8);
}

body {
  margin: 0px;
}

.board {
  margin: 10px;
  border: 1px dotted rgba(128, 128, 128, 0.5);
  border-radius: 15px;
  width: 450px;
  height: 450px;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  background-color: rgba(128, 128, 128, 0.05);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

